<html>
<head>
    <title>Ansible Application</title>
</head>
<body>
<h1>
  <a href="http://{{ ansible_hostname }}/index.html">Homepage</a>
</h1>
<p>
  Hello, World! I am a web server configured using Ansible
</p>
</body>
</html>
